{{>header}}

<body>
 {{>navi}}

 {{>hero}}

  <main id="main">

   {{>about}}

    {{>youtubeapi}}
  
   {{>image_gallery}}
   {{>teacher}}


  </main><!-- End #main -->
  {{>footer}}
   <script src="assets/js/fetch-videos.js"></script>
   <script src="assets/js/masonry.js"></script>
<p id="modal"></p>
</body>

</html>