{{>header}}

<body>
 {{>navi}}

 {{>hero}}

  <main id="main">

   {{>about}}

    {{>youtubeapi}}
  
   {{>image_gallery}}
   {{>teacher}}


  </main><!-- End #main -->

  {{>footer}}
<p id="modal"></p>
</body>

</html>