{{>header2}}

<body>
 {{>navi}}

 {{>hero}}

  <main id="main">

   {{>about}}

    {{>youtubeapi}}
  
   {{>image_gallery}}
   {{>teacher}}


  </main><!-- End #main -->
  {{>footer}}

   <!-- <script src="assets/js/load-photos.js"></script> -->
   <script src="assets/js/fetch-videos2.js"></script>
   <script src="assets/js/mgf-popup-iframe.js"></script>
   <script src="assets/js/jquery.magnific-popup.min.js"></script>

<!-- <p id="modal"></p> -->
</body>

</html>