{{>header}}
  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
<body>
 {{>navi}}
<main id="main">
{{>teacher_prof_img}}
 </main>
  {{>footer}}
  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
</body>

</html>