{{>header}}
{{>navi}}
{{>video_gallery}}
  {{>footer}}
   <script src="assets/js/fetch-videos-bts.js"></script>
   <script src="assets/js/jquery.magnific-popup.min.js"></script>
  <script src="assets/js/mgf-popup.js"></script>
  </body>
  </html>
