
<section class="videoShow">
<div class="video-screen">
<video src="assets/movies/lesson1.mp4" autoplay muted loop></video>
</div>
<!--
<div class="content">
  <h2>Welcome to Spicy Mandarin Web</h2>
  <a href="#about" class="btn">About SpicyMandarin</a>
</div>
-->
</section>