<!-- ======= masonry Gallery ======= -->
<section id="photoGallery" class="black-bg fluid">
    <h2 style="padding: 3px;">Photo Gallery</h2>
    
   <div id="grid">
<div class="grid-sizer"></div>
<!-- <div id="photo-items"></div> -->
 
 <!--
 <div class="grid-item">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" />
</div>
-->


   </div>
   <form action="/gallery">
   <button type="submit" class="btn btn-warning btn-lg btn-block">Go to photo gallery</button>
   </form>
</section>