 <!-- ======= Teacher Section ======= -->
    <section id="teachers" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Teachers</h2>
          <p>Meet our Teachers</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="https://www.sexymandarin.com/v2/wp-content/uploads/2012/07/melody3-214x300.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Melody</h4>
                <span>Taipei</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="https://www.sexymandarin.com/v2/wp-content/uploads/2012/07/demi5-214x300.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Demi</h4>
                <span>Chengdu</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="https://www.sexymandarin.com/v2/wp-content/uploads/2014/09/ally2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Ally</h4>
                <span>Beijin</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="https://www.sexymandarin.com/v2/wp-content/uploads/2012/08/bamboo6-214x300.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Bamboo</h4>
                <span>Zhuhai</span>
              </div>
            </div>
          </div>

        </div>

        
        <div class="row">

          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="https://www.sexymandarin.com/v2/wp-content/uploads/2013/04/erica1-214x300.jpg
                " class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Erica</h4>
                <span>Beijing</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="https://www.sexymandarin.com/v2/wp-content/uploads/2013/05/liya-214x300.jpg
                " class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Lia</h4>
                <span>Fujiang</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="https://www.sexymandarin.com/v2/wp-content/uploads/2012/07/sandra3-214x300.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sandra</h4>
                <span>Taipei</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="https://www.sexymandarin.com/v2/wp-content/uploads/2012/07/wendy3-214x300.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Wendy</h4>
                <span>Zhuhai</span>
              </div>
            </div>
          </div>

        </div>
        <form action="/teachers">
   <button type="submit" class="btn btn-warning btn-lg btn-block">Watch full videos</button>
   </form>
    </section><!-- End Team Section -->