<div id="teacherContainer" class="team">

<h2>Our Teachers</h2>
<p>Meet our teachers!</p>
<div class="container" data-aos="fade-up">
<div id="teacherGallery" class="row">

<!-- Here is the dynamic list contents -->


</div>
</div>
</div>