
    <div id="profile">
     <h3>{{teacher.name}} from {{teacher.hometown}}</h3>
    <container>
        <div class="row">
    <div id="video" class="embed-responsive embed-responsive-16by9">
       {{{teacher.profilePhoto}}}
    </div>
    </div>
    <div class="row">
    
        {{{teacher.about}}}

    </div>

    </div>
   
     </container>
    </div>
