

<div id="profile">
    <h3>{{teacher.name}} from {{teacher.hometown}}</h3>
    <div class="card img-fluid">
       <img src={{teacher.profilePhoto}} class="card-img-top" alt="Spicy Mandarin teachers">
      <div class="card-body">
      <p class="card-text">
        {{{teacher.about}}}
      </p>
    </div>
    </div>
    </div>

