<!-- ======= video ======= -->
<section id="videos" class="black-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Lesson Videos</h2>
        <p>Learn by unique videos</p>
      </div>

<div class="container">
<div id="videoRow" class="row">
      <!--INSERT VIDEO THUMBNAIL-->


</div> <!--End row-->
</div> <!--End video conainer-->

</div>
<form action="/video/lessons">
   <button type="submit" class="btn btn-warning btn-lg btn-block">Watch full videos</button>
   </form>
</section>

